*{
  font-family: 'lato', sans-serif;
  margin: 0;
  padding: 0;  
}
ul, ol, li, a{
  list-style: none;
  text-decoration: none;
}
h1, h2, h3, h4, h5, h6{
  text-transform: capitalize;
}
.lesson1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fafafa;
}
.lesson1 h1{
  text-align: center;
}
.container {
  margin: 0 auto;
  max-width: 700px;
}
.task__spn{
  border: 1px solid #0f1a9a93;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  background-color: #cee4f187;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.19);
}
.task__spn li{
  list-style: inside;
  list-style-type: decimal;
  padding: 5px;
}
.task__spn h3{
  margin: 10px;
}
.task__spn span{
  font-weight: 700;
  font-size: 1.7em;
  color: #3cb874;
  padding: 5px 0 5px 10px;
}
.task__btn__style {
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #0f1a9a93;
  border: none;
  width: 25%;
}
.lesson1__task1,
.lesson1__task2{
  display: flex;
  flex-direction: column;
}
.task__input{
  width: 50%;
  height: 30px;
  background-color: #0f1b9a37;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}